html, body {
    height: 30%;
}

.container {
    position: relative;
    top: 5%;
    /*transform: translateY(-100%);*/
    text-align: center;
    margin-top:2em;
}

.row{
    margin-top: 3em;
}
.display {
    display: none;
}

.movieContainer{
    overflow: hidden;
    height: 300px;
}

#movieList{
    overflow: scroll;
    border-left: 10px solid black;
    border-top: 5px solid darkred;
    height: 100%;
    /*box-sizing: content-box;*/
    text-align: left;
    background-color: lightgrey;
    /*color: white;*/
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/